body {
  text-align: center;
  background-color: #86f04d;
  background-image: url('https://raw.githubusercontent.com/bmclach/P1.3/main/DROOGAN.png');
  background-size: 100%, 100%;
  position: relative;
}

canvas {
  padding: 10px;
  font: "georgia";
}

p {
  font-size: 18px;
  text-align: center;
}

a {
  text-align: left; 
  color: #c22d2d;
}

#background {
  padding: 1px;
  margin-left: 30em;
  margin-right: 30em;
  background: #e9ff57;
  border-radius: 50px;
}

img {
  width: 500px;

}


li {
  display: inline;
  margin: 10px;
  padding: 5px;
  background: #f78b8b;
  border-radius: 10px;
}

a:hover {
  color: #ffffff;
}

.footer {
  position: absolute;
  background-color: #162b0b;
  color: #fff;
  text-align: center;
  padding: 1em;
  right: 0;
  left: 0;
};
